body{
	margin: 5px 10px;
}
.company-logo{
	text-align: center;
}
.company-logo img{
	margin: 25px 0;
}
.user-details{
	text-align: center;
	float: right;
}
.header-logo img{
    margin: 10px 0 0 15px;
}
.user-details img{
	margin: 0 0 5px 0;
}
.logout{
	margin:0 0 10px 0;
	display: block;
}
.row{
	clear: both;
	border-top: 2px solid #666666;
}
.row .col-xs-12{
	text-align: center;
	margin: 25px 0;
}
.left-content{
	border-right: 1px solid #666666;
}
.search-content{
	margin: 10px 0;
}
.save-feeds{
	float: right;
}
.content-data{
	width: 95%;
    border: 1px solid #666666;
    float: left;
    margin: 5px;
    word-break: break-word;
}

.content{
	padding: 15px;
	text-align: center;
}
.content img{
	border: 1px solid #666666;
}
.description{
	padding: 15px;
	border-bottom: 1px solid #666666;
}
.description span{
	color: #337ab7;
}
.feed-details{
	padding: 20px;
	text-align: center;
}
.feed-details img{
	float: left;
}
.feed-details img+span{
	display: block;
}