<header>
	<a href="#/home" class="header-logo"><img src="images/logo.jpg" alt="companyLogo"></a>
	<div class="user-details">
		<img src="{{profilePicture}}" alt="userPicture"><span>{{userName}}</span>
		<button class="logout btn btn-primary" ng-click="logoutUser()">Logout</button>
	</div>
</header>
<div class="row">
	<div class="col-xs-6 left-content pull-left" ng-controller="leftPaneController">
		<div class="search-content">
			<input type="text" placeholder="Search Feeds" ng-model="feedSearch" ng-change="getData(filteredFeeds, feedSearch)">
			<button type="button" class="btn btn-primary save-feeds" ng-click="saveFeeds() ">Save Feeds</button>
		</div>
		<div class="content-data" ng-repeat="feed in filteredFeeds | filter: feedSearch"  ng-show="feed.message">
			<div class="feed-data">
				<div class="description">
					<span>Feed Message:</span>
					<p>{{feed.message}}</p> 
				</div>
			</div>
		</div>
	</div>
	<!-- Left pane which shows the feeds from Facebook ends -->
	<!-- Right pane which shows the feeds from Mongo DB starts -->
	<div class="col-xs-6 right-content pull-right" ng-controller="rightPaneController">
		<div class="search-content">
			<input type="text" placeholder="Search Feeds" ng-modal="savedFeedSearch" ng-model="feedSearch">
		</div>
		<div class="content-data" ng-repeat="feed in savedFilteredFeeds | filter: feedSearch" ng-show="feed.message">
			<div class="description">
				<span>Feed Message:</span>
				<p>{{feed.message}}</p> 
			</div>
		</div>
	</div>
</div>